* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 25%;
}

body {
  font-family: Tahoma, sans-serif;
  background: rgb(122, 163, 238);
  font-size 15px;
  color: black;
  color: inherit;
}

h1, h2, h3 {
  font-weight: 900;
}

a {
  color: rgb(1, 1, 34);
}

a:hover {
  color: rgb(83, 205, 241);
}

.btn {
  display: inline-block;
  padding: .5em 1.25em;
  text-decoration: none;
  font-weight: 700;
  background: rgb(116, 2, 87);
}

.hero {
  text-align: left;
  padding: 14rem 0 55rem;
  background-image: url("../img/reportingfordutycats2.jpg");
  background-size: cover;
  margin: 0 0 25rem 0;
}



.accent-bg {
  background: purple;
}

.accent-bg .btn {
  background-color: rgb(4, 136, 22);
}

.accent-bg .btn:hover {
  background: rgb(233, 101, 7);
}