* {
  box-sizing: border-box;
}

img {
  max-width: 300px;
}

body {
  font-family: Tahoma, sans-serif;
  background: rgb(122, 163, 238);
  font-size 15px;
  color: rgb(7, 0, 0);
  color: inherit;
  margin: 0;
}

h1, h2, h3 {
  font-weight: 900;
}

h1 {
  font-size: 100px;
}

a {
  color: rgb(1, 1, 34);
  text-decoration: none;
}

a:hover {
  color: rgb(83, 205, 241);
}

.btn {
  display: inline-block;
  padding: .5em 1.25em;
  text-decoration: none;
  font-weight: 700;
  background: rgb(172, 3, 158);
  color: black;
}

.hero {
  text-align: center;
  color: rgb(102, 2, 105);
  padding: 14rem 0 30rem;
  background-image: url("../img/reportingfordutycats.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  margin: 0 0 5rem 0;
  height: 50%;
}

.hero p {
  font-size: 30px;
  font-weight: 700;
  color:rgb(97, 2, 97)
}

.accent-bg {
  background: purple;
  color: black;
  text-align: center;
  padding: 1px;
}

.accent-bg .btn {
  background-color: rgb(94, 212, 241);
  
}

.btn:hover {
  background: rgb(10, 4, 0);
  color:rgb(59, 204, 230)
}

.text-accent {
  color:rgb(136, 4, 129);
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
}

.text-center {
  text-align: center;
}

.columns {
  display: flex;
  align-items: baseline;
}

.col {
  margin: 2%;
}

.col-left {
  width: 40%;
}

.center {
  justify-content: center;
}

.col-right {
  width: 60%;
  align-self: center;
}

.col-right-index {
  align-self: center;
}

button {
  padding: .5%;
  margin: 1%;
  background: rgb(172, 3, 158);
  color: black;
}

button:hover {
  color:rgb(59, 204, 230);
}

footer {
  text-align: center;
  margin-top: 20px;
}

.smaller-h1 {
  font-size: 40px;
  text-align: center;
}

.medium-image {
  max-width: 400px;
}

.border-top {
  border-top: 1px purple dotted;
}

form {
  margin-top: 30px;
  text-align: center;
}